# MongoDB Local
MONGO_URL=mongodb://127.0.0.1:27017/generadores

# MongoDB Atlas (reemplazar con tu connection string)
# MONGO_URL=mongodb+srv://usuario:password@cluster.xxxxx.mongodb.net/generadores?retryWrites=true&w=majority

PORT=8080
